
@{
    ViewBag.Title = "HienThiBacSi";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<!--Start breadcrumb area-->
@Html.Partial("_PartialView")
<!--End breadcrumb area-->
<section class="medical-departments-area departments-page">
    <div class="container">
        <div class="row">
            <!--Start single item-->
            @foreach (var a in ViewBag.listBS)
            {
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-item text-center">
                        <div class="iocn-holder">
                            <img src="~/Hinh/team/@a[6]" alt="Cardiology Image" style="width: 200px; height: 200px;">
                        </div>
                        <div class="text-holder">
                            <h3>@a[1]</h3>
                            <p>@a[4]</p>    
                        </div>
                        <a class="readmore" href="">Đặt lịch</a>
                    </div>
                </div>
            }
            <!--End single item-->
        </div>
    </div>
</section>

