
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<!--Start breadcrumb area-->
@Html.Partial("_PartialView")
<!--End breadcrumb area-->
<!--Start Medical Departments area-->
<section class="medical-departments-area departments-page">
    <div class="container">
        <div class="row">
            <!--Start single item-->
            @foreach (var a in ViewBag.list)
            {
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-item text-center">
                        <div class="iocn-holder">
                            <img src="~/Areas/Admin/images/@a[5]" alt="Cardiology Image" style="width: 50px; height: 50px;">
                        </div>
                        <div class="text-holder">
                            <h3>@a[1]</h3>
                            <p>@a[2]</p>
                        </div>
                        <a class="readmore" href="cardiac-clinic.html">Đọc thêm</a>
                    </div>
                </div>
            }
            <!--End single item-->
        </div>
    </div>
</section>
<!--End Medical Departments area-->
